# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
*.framework

#  Package Manager
.pm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows (tuyo)
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace

# Archivos temporales de audio / pruebas
*.tmp
*.log
# Herramientas locales (no parte de la app)
OmniCopilot/
build/
